@import "fonts.css";
.root{
	color-blanco:#fff;
	color-negro:#000;
	
	color-primario:#2196F3;/*texto blanco*/
	color-primario-claro:#BBDEFB;/*texto negro*/
	color-primario-oscuro:#1976D2;/*texto blanco*/
	
	color-secundario:#e60049;/*texto blanco*/
	color-secundario-claro:#ff5674;/*texto negro*/
	color-secundario-oscuro:#ac0022;/*texto blanco*/
	
	color-gris:#c1c2c2;/*texto negro*/
	color-gris-claro:#f4f5f5;/*texto negro*/
	color-gris-oscuro:#919292;/*texto negro*/
	
  /*estados warning,success,danger,info*/
  
	color-verde:#28a745;/*texto negro*/
	color-verde-claro:#64da73;/*texto negro*/
	color-verde-oscuro:#007717;/*texto blanco*/
	
	color-rojo:#dc3545;/*texto blanco*/
	color-rojo-claro:#ff6b70;/*texto negro*/
	color-rojo-oscuro:#a3001e;/*texto blanco*/
	
	color-amarillo:#ffc107;/*texto negro*/
	color-amarillo-claro:#fff350;/*texto negro*/
	color-amarillo-oscuro:#c79100;/*texto negro*/
	
	color-celeste:#17a2b8;/*texto negro*/
	color-celeste-claro:#60d4ea;/*texto negro*/
	color-celeste-oscuro:#007388;/*texto blanco*/
}

.tabMain{
	 -fx-background-color: color-primario-oscuro;
	 -fx-text-fill: color-blanco;
	 -fx-font-family: Roboto;
}

.form-control {
  /*-fx-pref-height: 29px;*/	
  -fx-padding: 6px 12px;
  -fx-text-fill: color-negro;
  -fx-background-color: color-blanco;
  -fx-border-color: color-gris;
  -fx-border-width: 1px;
}

.form-control:focused{		
 	-fx-border-color: color-primario-oscuro;
 	-fx-background-color: color-blanco ;
	-fx-border-radius: 0.0;
	-fx-background-radius: 0.0;
	-fx-border-width: 2px;
}

.btn-fx{
	-fx-padding: 6px 12px;
	-fx-font-size:14px;
	-fx-border-width: 1px;
	-fx-alignment: center ;
	-fx-font-weight: 900;
}	

.btn-fx-primary{
	 -fx-background-color: color-primario;	 
	 -fx-border-color: color-primario-oscuro;
	 -fx-text-fill: color-blanco;
}

.btn-fx > .glyph-icon{
 -fx-fill: color-blanco;
}

.btn-fx-primary:hover{
  -fx-text-fill: color-blanco;	
  -fx-background-color: color-primario-oscuro;
  -fx-border-color: color-primario-oscuro;
}

.btn-fx-success{
	 -fx-background-color: color-verde;	 
	 -fx-border-color: color-verde-oscuro;
	 -fx-text-fill: color-blanco;
}

.btn-fx-success:hover{
  -fx-text-fill: color-blanco;	
  -fx-background-color: color-verde-oscuro;
  -fx-border-color: color-verde-oscuro;
}

.btn-fx-info{
	 -fx-background-color: color-celeste;	 
	 -fx-border-color: color-celeste-oscuro;
	 -fx-text-fill: color-blanco;
}

.btn-fx-info:hover{
  -fx-text-fill: color-blanco;	
  -fx-background-color: color-celeste-oscuro;
  -fx-border-color: color-celeste-oscuro;
}

.btn-fx-warning{
	 -fx-background-color: color-amarillo;	 
	 -fx-border-color: color-amarillo-oscuro;
	 -fx-text-fill: color-blanco;
}

.btn-fx-warning:hover{
  -fx-text-fill: color-blanco;	
  -fx-background-color: color-amarillo-oscuro;
  -fx-border-color: color-amarillo-oscuro;
}

.btn-fx-danger{
	 -fx-background-color: color-rojo;	 
	 -fx-border-color: color-rojo-oscuro;
	 -fx-text-fill: color-blanco;
}

.btn-fx-danger:hover{
  -fx-text-fill: color-blanco;	
  -fx-background-color: color-rojo-oscuro;
  -fx-border-color: color-rojo-oscuro;
}

.btn-fx-link {
  -fx-font-weight: 900;
  -fx-text-fill: color-primario;
  -fx-border-color: transparent;
  -fx-background-color: transparent;
}

.btn-fx-link:hover{
  -fx-text-fill: color-primario-oscuro;
  -fx-underline: true;	
}

.btn-fx-default {
  -fx-text-fill: color-negro;
  -fx-background-color: color-blanco;
  -fx-border-color: color-gris;
}

.btn-fx-default:hover {
  -fx-text-fill: color-negro;
  -fx-background-color: color-gris;
  -fx-border-color: color-gris-oscuro;
}

.item-fx{
    -fx-padding: 6px 12px;
    -fx-font-size:14px;
/*	-fx-border-width: 1px;*/
    -fx-font-weight: 900;
    -fx-text-fill: color-negro;
    -fx-background-color: color-blanco;
}

.item-fx:hover{
    -fx-background-color: color-gris;
    -fx-text-fill: color-negro;
}

.combo-box-base  
{
    -fx-background-color: color-blanco;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-border-color: color-gris;
    -fx-border-width: 1px;
    -fx-padding: 0;
}
.combo-box-base > .arrow-button {
    -fx-background-color: transparent, transparent, transparent;
}

.combo-box-base > .arrow-button > .arrow {
    -fx-padding: 3.5px 6px 3.5px 6px;
    -fx-shape: "M21.361,12.736l0.527,0.527L16,19.152l-5.889-5.889l0.527-0.527L16,18.098L21.361,12.736z";
    -fx-background-insets: 0 0 0 0, 0;
    -fx-background-color: color-gris;
}
.combo-box-popup > .list-view {
    -fx-effect: null;
    -fx-border-color: color-primario;
}

.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell {
    -fx-font-size: 11pt;
    -fx-padding: 4 0 4 5;
    -fx-background-color: color-blanco;
}

.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:hover{
    -fx-background-color: color-primario;
    -fx-text-fill: color-blanco;
}

.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected{
    -fx-background-color: derive(color-primario-oscuro, 90%);
    -fx-text-fill: color-negro;
}

.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected:hover{
    -fx-background-color: derive(color-primario, 70%);
}

.input-group-fx-label{
	-fx-border-color: #e2e5ec;
	-fx-padding: 10px ;
	-fx-border-width: 1px;
	-fx-background-color: #f7f8fa;
	-fx-text-fill: #74788d;
	-fx-alignment: center ;
	-fx-font-weight: 900;
}



.modal{
	-fx-background-color: #fff;
	/*-fx-border-radius:5px;*/
	/*-fx-background-radius:5px*/
	/*-fx-border-color:#e5e5e5;*/
	/*-fx-border-width:2px;*/
	-fx-font-family: sans-serif;
	-fx-text-fill: #333;
}

.modal-header {
  -fx-padding: 5px;
  -fx-border-color: #e5e5e5;
  -fx-font-size:14px;
  -fx-font-weight: bold;
  -fx-border-width:0px 0px 1px 0px;
}

